html{
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Verdana;
}

h1{
    color: white;
}

h3{
    color: white;
}

.link{
    color:aquamarine;
}

p{
    color: grey;
    text-align: right;
}